<form method="post" action="/display_puppy">
  <p>Input here:</p>
  <input type="text" name="name">
  <input type="text" name="breed">
  <input type="text" name="age">
  <button type="submit" value="submit">Submit</button>
</form>
